<!DOCTYPE html>
{% load static %}
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/png" href="{% static 'logo/favicon.png' %}" />
    <link rel="stylesheet" href='{% static "css/bootstrap.min.css" %}'>
    <link rel="stylesheet" href="{% static 'css/bootstrap-datetimepicker.min.css' %}" />

    {% block 'scri' %}
    {% endblock %}




<!-- Matomo -->
<script type="text/javascript">
  var _paq = window._paq = window._paq || [];
  /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//ireneusz.it/";
    _paq.push(['setTrackerUrl', u+'matomo.php']);
    _paq.push(['setSiteId', '1']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<!-- End Matomo Code -->


</head>
<body> 

    
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-left">
        <a class="navbar-brand" href="{% url 'home' %}"><img src="{% static 'logo/mojanuta.png' %}" width="200"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                   <a class="nav-link" href="{% url 'station_list' %}">Stacje</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Stacje
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="">Radio Bielsko</a>
                        <a class="dropdown-item" href="">Radio Express</a>
                        <a class="dropdown-item" href="">Disco Radio</a>
                        <a class="dropdown-item" href="">Mega Radio</a>
                        <a class="dropdown-item" href="">Radio Nuta</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="">Radio 90</a>
                        <a class="dropdown-item" href="">Radio Kaszebe</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="">RMF FM</a>
                        <a class="dropdown-item" href="">RMF MAXXX</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="">Dance Radio</a>
                        <a class="dropdown-item" href="">Seejay</a>
                        <a class="dropdown-item" href="">Helax</a>
                    </div>
                </li>
                <li class="nav-item">

                </li>
            </ul>
            
        </div>
        
    </nav>
    

    <script type="text/javascript" src="{% static 'scripts/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'scripts/bootstrap.youtubepopup.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'scripts/moment.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'scripts/bootstrap-datetimepicker.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'scripts/suggest.js' %}"></script>
    <script src="static/chartkick.js"></script>

    {% block 'content' %}
    {% endblock %}
    <br>
    <div class="container">
        <footer class="footer">
            <p>https://mojanuta.pl - Serwis w trakcie budowy. Kontakt ireneusz@poczta.fm</p>
        </footer>
    </div>

    <style>
        table {
            border-collapse: collapse;
        }

        th, td {
            padding: 8px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }

        body {
            background: url('{% static 'images/mixer.jpg'   center center; -webkit-background-size: cover; -moz-background-size: cover;
            background-size: cover;
            -o-background-size: cover;
        }
    </style>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>


    <script type="text/javascript" src="{% static 'scripts/jquery.jplayer.min.js' %}"></script>

    <script type="text/javascript" src='{% static "scripts/player.js" %}'></script>



    <script>
        var lid = 0;
        var state = 0;
        var state2 = 0;
        var lid2 = 0;
        var firstPlay = 1;
        function PrPlay(song, id) {
            if (lid != id || state == 1) {
                console.log(song);
                document.getElementById(id).src = '{% static "scrobbell/img/buttons/stop.png" %}';
                lid2 = lid;
                lid = id;
                state = 0;
                state2 = 1;
                if (id == "playStation") {
                    firstPlay = 2;
                    $("#jquery_jplayer").jPlayer("reset");
                    $("#jquery_jplayer").jPlayer("setMedia", {
                        mp3: song
                    });
                    $("#jquery_jplayer").jPlayer("play");
                }
                else {
                    firstPlay = 2;
                    $("#jquery_jplayer").jPlayer("clearMedia");
                    $("#jquery_jplayer").jPlayer("setMedia", {
                        mp3: song
                    });
                    $("#jquery_jplayer").jPlayer("play");
                }
            }
            else {
                //console.log("STOP");
                document.getElementById(id).src = '{% static "scrobbell/img/buttons/play.png" %}';
                state = state + 1;
                state2 = 0;
                $("#jquery_jplayer").jPlayer("stop");
            }
            if (state2 == 1 & lid2 != id & lid2 != 0) {
                document.getElementById(lid2).src = '{% static "scrobbell/img/buttons/play.png" %}';
            }
        }</script>

    <script>
        function bigImg(src, id) {
            if (firstPlay == 2) {
                PrPlay(src, id);
                console.log(id);
            }
        }
        function offImg(src, id) {
            if (firstPlay == 2) {
                PrPlay(src, id);
                //  console.log(id);
            }
        }
    </script>
    <script>
        $(document).ready(function () {
            {% block domready %}
            {% endblock %}
            console.log( "ready!" );
        });
    </script>

    <script>

function callback(item) {
    slug = item['fields']['slug'];
	console.log('You selected \'' +slug + '\'');
    redirecturl = "/utwor/" + slug;
    window.location.replace(redirecturl);
}

jQuery(function() {

	$('input#suggestBox3').jsonSuggest({url: '/ajax/search/?', onSelect: callback});
});

</script>
</body>
</html>
